PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/desale_db?retryWrites=true&w=majority
BREVO_API_KEY=your_brevo_api_key_here
EMAIL_FROM=desalejayesh0706@gmail.com
EMAIL_FROM_NAME=DE-SALE
ADMIN_KEY=your_admin_key_here